/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    /* ;
    height: 100%;
}

body {
    /* background-color: #0b2211;
    background-image: linear-gradient(-125deg, #06131f 0%, #9ad1eb 100%); */
    	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  
    height: 100%;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;

}

/* .home_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image: url("https://imgur.com/a/Gmk6Ot6");
} */

 